@import 'styles/variables';

.root {
	font-weight: normal;
}

// level

.level-1 {
	font-size: 24px;
}

.level-2 {
	font-size: 20px;
}

.level-3 {
	font-size: 17px;
}

// weight

// caps

.caps {
	text-transform: uppercase;
}
