@import 'styles/variables';

.root {
	font-weight: normal;
}

// level

.level-1 {
	font-size: 15px;
}

.level-2 {
	font-size: 13px;
}

.level-3 {
	font-size: 11px;
}

// weight

// caps

.caps {
	text-transform: uppercase;
}
